*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}
body{
   
    background: linear-gradient(to bottom left,#050A30,#000C66,#6161ca,#7EC8E3);
    background-repeat: no-repeat;
    background-size:cover;
}
.main-container{
    display: flex;
    width: 100%;
    justify-content:space-around;
    align-items:center;
    height: auto;
    margin: 50px auto;
}

.tag{
    border-radius: 10px;
    padding: 50px;
    height:fit-content;
    text-align: center;
    margin-top: 150px;
    transition: ease-in;
    border: 2px solid yellow;
}
.tag:hover{
    box-shadow:0px 0px 10px #000 ;
}
.tag h1{
    font-size: 40px;
    color:#0b1243;
}
.tag p{
   color: #aa83c4;
   font-size: 30px;
   font-weight: 400;
}
.move{
    color: #0b1243;
}
.container{
     width: 400px;
     height:88%;
     background: rgb(53, 105, 210);
     border-radius: 10px;
     box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.4);
     font-family: sans-serif;
     padding: 40px;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;
}
.temp-icon{
    font-size: 45px;
    color:#fff;
}
h1{
    color: #fff;
    letter-spacing: 1.2px;
} 
.title h1{
    padding-left: 51px;
    
}
#celcius,#fahrenheit,#kelvin{
    display: flex;
    justify-content: center;
    align-items: centre;
    margin-top: 25px;
}
input{
    flex: 4;
    height: 40px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border: 3px solid;
    outline: none;
    border-radius: 8px 0 0 8px;
    /* padding: ; */
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
.icon{
    flex: 1;
    height: 40px;
    line-height: 40px;
    padding: 0 5px;
    text-align: center;
    font-size: 20px;
    background: #077fef;
    color: #fff;
    border-radius: 0 8px 8px 0;
    border-top: 3px solid #000;
    border-right: 3px solid #000;
    border-bottom: 3px solid #000;
}
.btn{
    margin-top: 25px;
    text-align: center;
    /* border: 1px solid; */
    padding-right: 33px;
}
.btn button{
    border: none;
    outline: none;
    padding: 10px 30px;
    font-size: 20px;
    font-weight:600 ;
    border-radius:20px ;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid;
}
.btn button:hover{
    background:linear-gradient(to bottom left,#050A30,#000C66,#0000FF,#7EC8E3);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    color: #fff;
    border: 3px solid #fff;
}

@media screen and (max-width:1096px) {
    
    .main-container{
        display:flex;
        flex-direction: column;
        gap: 50px;
       
    }
    .tag{
        margin:30px 20px ;
    }
    .tag h1{
        font-size: 40px;
        color:#c1e021;
    }
    
}

@media screen and (max-width:452px) {
    .container{
        width: 75%;
    }
    .title h1{
        padding: 10px;
    }
    #celcius,#fahrenheit,#kelvin{
       margin-left:5px;
       margin-right: 5px;
    }
}

    